bin/
obj/

*.config
*.env
*.json


.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates


*.log
*.tmp


/obj/
/bin/


*.cache
*.dll
*.pdb
*.exe
*.bak

D:\Work\Projects\Modsen\Practice\ModsenPractice\ModsenPractice.db